//====================================================================================================

.footer {
  background-color: #1c1c1c;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    padding-bottom: 72px;
    padding-left: 20px;
    padding-right: 20px;
    @media (max-width: $pc) {
      padding-top: 40px;
      padding-bottom: 55px;
    }
    @media (max-width: $mobile) {
      flex-direction: column;
      gap: 25px;
    }
  }

  &__left {
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    display: flex;
    gap: 64px;
    span {
      text-align: center;
    }
    @media (max-width: $tablet) {
      font-size: 13px;
      line-height: 28px;
      gap: 24px;
    }
    @media (max-width: $mobile) {
      font-size: 15px;
      line-height: 20px;
      flex-direction: column;
      gap: 19px;
    }

    a {
      text-decoration: underline;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__phone {
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 18px;
      height: 18px;
      left: -25px;
      top: 3px;
      background-image: url(../img/phone.svg);
    }
    @media (max-width: $tablet) {
      font-size: 13px;
      line-height: 28px;
    }
    @media (max-width: $mobile) {
      font-size: 15px;
      line-height: 20px;
    }
  }
  &__call {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-decoration: underline !important ;
    color: #bfc1c6;
    @media (max-width: $tablet) {
      font-size: 13px;
      line-height: 18px;
    }
  }
}
//====================================================================================================
